<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta charset="UTF-8">
    <meta name="theme-color" content="dark">
    <meta about="Todos app build to train golang">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <style>
        hgroup  {
            text-align: center;
        }
    </style>
    <title>{{.Title}}</title>
</head>
<body>
<main class="container">
    {{embed}}
</main>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        console.log("Scripts loaded");
    })
</script>
</body>
</html>