<section>
    <hgroup>
        <h2>Login</h2>
    </hgroup>
</section>

<section>
    <div class="grid">
        <div>
            <hgroup>
                <h3>Info:</h3>
                <p>
                    Input email used during registration, if you are in the system we will send you magic link aka. link
                    with secret one time token to login.
                </p>
            </hgroup>
        </div>
        <div>
            <form>
                <input type="email" name="email" placeholder="you@example.com" autocomplete="email" required />
                <input type="submit" />
            </form>
        </div>
    </div>
</section>
